@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@300;400;500&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body{
    background-color: #2C3E50;
    color: white;
    font-family: 'Montserrat', sans-serif;
   
}


.container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    background: #17202A;
    max-width: 100%;
    width: 40%;
    min-height: 400px;
    height: auto;
   
}

h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:white;
    background: #2C3E50;
    font-size: 25px;
    padding: 10px;
    font-weight: 500;
}

.form-body{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-fields{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
#input{
    width: 100%;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
#addItem{
    padding: 8px 20px;
    background-color: #2C3E50;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.listBody{
   padding-left: 20px;
}

@media screen and (max-width:767px) {
     .container{
        width: 100%;
       
     } 
     
     
}